Update parse to match RFC 6265 Grammar

RFC 6265 section 4.1.1 defines the cookie-value as an octet that can be
surrounded by double quotes. Thus surrounding double quotes are not part
of the cookie-value and should be stripped during parsing.

https://tools.ietf.org/html/rfc6265#section-4.1.1

https://github.com/SergioBenitez/cookie-rs/pull/141