Support optional weekday date format for Expires

While trying to investigate https://github.com/servo/servo/issues/28371, I found the root cause is related to the cookie cannot be reset in the cleanup function in 

https://github.com/web-platform-tests/wpt/blob/d464ced6edbeb124f9bb1fc617a4065c56297f36/cookies/resources/cookie-test.js#L126-L136

The date format for the `expires` in the test is `01 Jan 1970 00:00:00 GMT` which doesn't include weekday.

However, currently cookie-rs only support date format which must have weekday.

https://github.com/SergioBenitez/cookie-rs/blob/aa638daeec0b539daa5a981758c6b234b582142e/src/parse.rs#L222-L228

After trying to read the [`RFC6265`#section-4.1.1](https://tools.ietf.org/html/rfc6265#section-4.1.1) spec, I noticed it refers to both RFC2616 and RFC1123.

```
 expires-av        = "Expires=" sane-cookie-date
 sane-cookie-date  = <rfc1123-date, defined in [RFC2616], Section 3.3.1>
```

The RFC1123 date section points to [`RFC822`#section-5.1](https://tools.ietf.org/html/rfc822#section-5.1).

`cookie-rs` already supports the date format described in `RFC2616#section-3.3.1` so I wonder maybe we only need to support optional weekday which is written in `RFC822#section-5.1`.

If this is reasonable, I'm happy to send a PR for it! Thanks! 🙏 


The date format is _called_ `rfc1123-date` and is defined in RFC2616. Here it is, from 2616:

```
rfc1123-date = wkday "," SP date1 SP time SP "GMT"
```

All of specified date formats include a weekday. I cannot find any indication of any standardized document specifying a date for `Expires` without one. Are you able to point me to one?

I am concerned about encouraging non-standard behavior with this change. Perhaps this can be brought up as a bug in the `web-platform-tests` repository? Alternatively, if there are major client/server implementations that send incorrect dates, we can add it as a "real-world" date.

Closing due to inactivity.