Use Z85 encoding HMAC values and encrypted values

[Z85](https://rfc.zeromq.org/spec:32/Z85/) is like Base64, but instead of encoding 3 bytes in 4 ASCII characters, it encodes 4 bytes in 5 ASCII characters. The constraints placed on the design of Z85 also happen to make every Z85 encoding character a valid cookie value character. (Valid values in a cookie value are documented as `cookie-octet` in [RFC 6265 Section 4.1.1](https://tools.ietf.org/html/rfc6265#section-4.1.1).

In the case of HMAC-SHA256-signed , this would reduce 12 bytes of base64-encoding overhead to 8 bytes of Z85 encoding overhead, which isn't really significant. For *encrypted-and-signed* cookies the savings could be more significant.

This would remove the rustc-serialize dependency, which also seems desirable. (This could also be done by switching to the base64 crate or an alternative.)

Let's stick with `base64` until there's a compelling crate.

I added padding to Z85 now. Tell me if anything is wrong with 3.0.2 version.
https://github.com/decafbad/z85